@import "../utilities/vars";

.card {
  box-shadow: 1px 1px 1rem rgba(126, 126, 126, 0.2);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  &__thumbnail {
    overflow: hidden;
  }
  &__wrapper {
    justify-content: center;
    align-content: center;
  }
  &__title-L {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    position: absolute;
    font-size: 1rem;
    text-transform: uppercase;
    color: $white;
    text-shadow: 1px 1px 4px #7e7e7e;
    border-radius: 0.5rem 0rem 0rem 0rem;
    letter-spacing: 0.1rem;
  }
  &__image {
    width: 100%;
    border-radius: 0.5rem;
    border: $gray-200 1px solid;
  }
  &__description {
    font-size: 1rem;
    line-height: 1rem;
    color: $gray-600;
    margin: 0.5rem 1rem 1rem 1rem;
  }
}

.projects {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    & > div {
      flex: 1 1 auto;
      width: 300px;
    }
  }
  &__card {
    border-right: 1px dashed $gray-500;
    padding: 0px 1rem 0px 0px;
    &:last-child {
      border-right: 0;
    }
  }
  &__title-M {
    font-weight: 900;
    color: $altColor;
    margin: 5px 0px;
    font-size: 1.2rem;
  }
  &__description {
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
  }
  &__tags {
    font-size: 0.8rem;
    color: $secondaryColor;
    border-top: 1px dashed $gray-500;
    padding-top: 0.25rem;
  }
  &__image {
    width: 100%;
    overflow: hidden;
  }
}