@import "../utilities/vars";
@import "../utilities/mixinQueries";

.breadcrumb {
  padding: 1rem;
  font-size: 0.8rem;
  &-link {
    color: $gray-600;
    text-decoration: none;
    &:hover {
      color: $gray-800;
      text-decoration: none;
    }
  }
}

.progressBar {
  padding: 0.01rem 0.35rem;
  position: relative;
  width: 100%;
  &__title {
    font-size: 1rem;
    font-weight: 600;
    text-transform: lowercase;
    letter-spacing: 0.1rem;
    color: $gray-500;
    margin-bottom: 0.1rem;
    @include smartPhone {
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
      padding-left: 0.25rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      text-align: left;
    }
    @include tablet {
      font-size: 0.9rem;
      letter-spacing: 0.1rem;
      padding-left: 0.25rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      text-align: left;
    }
  }
  &__title::before {
    content: "¤ ";
  }
  &__subTitle {
    font-size: 0.75rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    color: $gray-600;
    margin-bottom: 0.1rem;
    @include smartPhone {
      margin-bottom: 0.15rem;
    }
    @include tablet {
      margin-bottom: 0.15rem;
    }
  }
  &__border {
    border: 1px solid $gray-400;
    height: 8px;
    margin-bottom: 0.8rem;
  }
  &__fill {
    background-color: $altColor;
    opacity: 1;
    height: 8px;
    @include smartPhone {
      opacity: 0.5;
    }
    @include tablet {
      opacity: 0.5;
    }
    &--color {
      background-color: $secondaryColor;
      opacity: 1;
      height: 8px;
      @include smartPhone {
        opacity: 0.5;
      }
      @include tablet {
        opacity: 0.5;
      }
    }
  }
}
.parallax {
  width: 100%;
  height: 50vh;
  background-image: url("../../../assets/imgs/para2.jpg");
  background-position: center ;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @include smartPhone {
    height: 40vh;
    background-position: top -2rem;

  }
  @include tablet {
    height: 40vh;
    background-position: center center;
  }
}
.parallax2 {
  width: 100%;
  height: 40vh;
  background-image: url("../../../assets/imgs/para1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @include smartPhone {
    height: 30vh;
    background-position: right bottom;
  }
  @include tablet {
    height: 30vh;
    background-position: right bottom;
  }
}
.networks {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  @include smartPhone {
    display: none;
  }
  @include tablet {
    display: none;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  &__title {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: $gray-500;
  }
  &__icon {
    width: 30px;
    color: $gray-800;
    opacity: 0.5;
    margin: 0.5rem;
    font-size: 1.8rem;
    @include smartPhone {
      width: 80px;
      opacity: 0.4;
      font-size: 3rem;
    }
    @include tablet {
      width: 80px;
      opacity: 0.4;
      font-size: 3rem;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  &__link {
    text-decoration: none;
    padding-left: 0.15rem;
    &:hover {
      color: $gray-800;
    }
  }
}
