* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --interval: 0.2s;
}

.o1 {
  -webkit-animation-delay: calc(var(--interval) * 1);
  animation-delay: calc(var(--interval) * 1);
}

.o2 {
  -webkit-animation-delay: calc(var(--interval) * 2);
  animation-delay: calc(var(--interval) * 2);
}

.o3 {
  -webkit-animation-delay: calc(var(--interval) * 3);
  animation-delay: calc(var(--interval) * 3);
}

.o4 {
  -webkit-animation-delay: calc(var(--interval) * 4);
  animation-delay: calc(var(--interval) * 4);
}

.o5 {
  -webkit-animation-delay: calc(var(--interval) * 5);
  animation-delay: calc(var(--interval) * 5);
}

html {
  font-size: 16px;
}

body {
  background: #f1f1f1 url("../assets/views/bodyBG.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: #585858;
  margin: 0px auto;
}

.mainBox__title-XL {
  font-size: 3rem;
  letter-spacing: -0.15rem;
  font-weight: 900;
  color: #007890;
  text-align: center;
  text-transform: lowercase;
  margin-top: 5rem;
}

.mainBox__title-XL--main {
  font-size: 3rem;
  letter-spacing: -0.15rem;
  font-weight: 900;
  color: #007890;
  text-align: center;
  text-transform: lowercase;
  margin-top: 10rem;
}

.mainBox__title-L {
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: #9e9e9e;
  text-align: center;
  margin-bottom: 1rem;
}

.mainBox__title-M {
  font-size: 1.5rem;
  color: #6d6e71;
  padding-left: 1.25rem;
  margin-top: 4rem;
  margin-bottom: 0.75rem;
  background-image: url("../assets/views/h3Back.png");
  background-position: left;
  background-repeat: no-repeat;
  text-align: left;
}

.mainBox__title-M--child {
  margin-top: 0;
}

.mainBox__title-S {
  font-size: 1.25rem;
  color: #6d6e71;
  padding-left: 0.25rem;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  text-align: left;
}

.mainBox__title-S::before {
  content: "\\\\ ";
}

.progressBar__title {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #9e9e9e;
  margin-bottom: 0.15rem;
}

.header {
  padding: 1rem 3rem;
  top: 0px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 3;
}

.header__logo {
  max-width: 5rem;
}

.header__menu {
  margin-top: 1rem;
}

.header__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  margin: 0rem 1rem;
  z-index: 3;
}

.header__item:hover {
  display: block;
}

.header__link {
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 0.75rem 1rem;
  margin: 0.5rem;
  font-size: 1rem;
  color: #979797;
}

.header__link:hover {
  color: #007890;
  background-image: url("../assets/views/menuBack.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  display: block;
}

.selected {
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 0.75rem 1rem;
  margin: 0.5rem;
  font-size: 1rem;
  color: #007890;
  background-image: url("../assets/views/menuBack.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  cursor: default;
}

.submenu {
  list-style: none;
  font-size: 1rem;
  margin-top: 0px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submenu__item {
  overflow: auto;
  top: -0.2rem;
}

.submenu__link {
  text-decoration: none;
  color: #db3816;
  display: block;
  padding: 0.7rem;
  white-space: nowrap;
  background-color: #ececec;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.submenu__link:hover {
  background-image: #e5e5e5 url("../assets/views/submenuBack.png");
  background-position: left center;
  background-repeat: no-repeat;
  color: #8f1e07;
  -webkit-box-shadow: #9e9e9e;
          box-shadow: #9e9e9e;
  display: block;
}

.mainBox {
  padding-bottom: 1rem;
}

.mainBox__bottom {
  padding-bottom: 0;
}

.mainBox__wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.mainBox__text {
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.mainBox__list {
  list-style: square;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #007890;
}

.mainBox__quote {
  padding: 2rem 1rem 1rem 1rem;
  font-style: italic;
  font-size: 2rem;
  color: #959595;
  text-align: center;
}

.mainBox__ytVideo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.mainBox__contact {
  grid-area: container;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.mainBox__image {
  width: 100%;
}

.projects__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__wrapper > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 300px;
}

.projects__card {
  border-right: 1px dashed #CCC;
  padding: 0px 1rem 0px 0px;
}

.projects__card:last-child {
  border-right: 0;
}

.projects__title-M {
  font-weight: 900;
  color: #ad1457;
  margin: 5px 0px;
  font-size: 1.2rem;
}

.projects__description {
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
}

.projects__tags {
  font-size: 0.8rem;
  color: #FF6B23;
  border-top: 1px dashed #b3b3b3;
  padding-top: 0.25rem;
}

.projects__image {
  width: 100%;
  overflow: hidden;
}

.breadcrumb {
  padding: 1rem;
  font-size: 0.8rem;
}

.card {
  -webkit-box-shadow: 1px 1px 1rem rgba(126, 126, 126, 0.2);
          box-shadow: 1px 1px 1rem rgba(126, 126, 126, 0.2);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.card__thumbnail {
  overflow: hidden;
}

.card__wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card__title-L {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  position: absolute;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 4px #7e7e7e;
  border-radius: 0.5rem 0rem 0rem 0rem;
  letter-spacing: 0.1rem;
}

.card__image {
  width: 100%;
  border-radius: 0.5rem;
  border: #e0e0e0 1px solid;
}

.card__description {
  font-size: 1rem;
  line-height: 1rem;
  color: #6d6d6d;
  margin: 0.5rem 1rem 1rem 1rem;
}

.btn {
  border: none;
  height: 2.5rem;
  padding: 0 15px;
  color: #fff;
  display: inline-block;
  border-radius: 4rem;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #007890;
  position: absolute;
  right: 1rem;
  bottom: -1rem;
}

.btn:hover {
  background-color: #8f1e07;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.btn__label {
  font-weight: 600;
  margin-right: 0.75rem;
}

.footer {
  background-image: url("../assets/views/footerBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem 3rem;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer__text {
  font-size: 1rem;
  text-align: center;
  color: #d4d4d4;
  margin: 0px;
}

.footer__list {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 1rem;
  margin: 1rem 0rem;
}

.footer__network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__select {
  background: transparent;
  border: none;
  padding: 1rem;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #979797;
  cursor: pointer;
}

.footer__select:hover {
  background-image: url("../assets/views/menuBack.png") no-repeat center bottom;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.footer__netIcon {
  width: 40px;
  color: #ccc;
  margin: 0.5rem;
  opacity: 0.4;
  font-size: 1.5rem;
}

.footer__netIcon:hover {
  opacity: 0.8;
}

.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/*# sourceMappingURL=main.css.map */