    article {
        border-bottom: 1px solid #999;
        padding: 1rem 0;
    }
    
    h2 {
        margin: 0 0 1rem 0;
        font-size: 9rem;
        font-family: system-ui;
        font-weight: bold;
        text-align: right;
        color: #aaa;
        line-height: 6rem;
    }
    
    h3 {
        font-size: 1.5rem;
        font-weight: bold;
        color: #bbb;
        letter-spacing: -0.075rem;
        margin: 0 0 .25rem 0;
    }
    
    h3 span {
        font-weight: normal;
        color: red;
    }
    
    h4 {
        font-size: 1.25rem;
        font-weight: bold;
        color: #bbb;
        letter-spacing: -0.075rem;
        margin: 0 0 .25rem 0;
    }
    
    h4 span {
        font-weight: normal;
        color: red;
    }
    
    h5 {
        font-size: 1rem;
        font-weight: bold;
        color: #bbb;
        letter-spacing: 0.075rem;
        margin: 0 0 .15rem 0;
        padding-left: 0.5rem;
    }
    
    div .content {
        min-width: 90%;
    }
    
    div .content p {
        font-size: 0.95rem;
        padding-left: 0.5rem;
    }
    
    blockquote {
        font-size: 1.2rem;
        text-align: right;
    }
    /* layout */
    
    .wrapper {
        width: 60%;
        margin: 0 auto;
    }
    
    section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    section>div {
        flex: 1 1 auto;
    }
    
    .index {
        flex: 0 1 20rem;
        min-width: 10rem;
        padding: 0 1rem;
    }
    
    div .index p {
        text-align: right;
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
    }
    /* hover */
    
    article {
        padding: 1rem;
        transition: background-color 1s;
        transition-timing-function: background-color ease-out;
    }
    
    article:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
    /* Sticky Header */
    
    section {
        position: relative;
    }
    
    section>div.index {
        position: sticky;
        top: 10rem;
    }