@import "../utilities/vars";

.header {
  padding: 1rem 3rem;
  top: 0px;
  position: sticky;
  z-index: 3;
  &__logo {
    max-width: 5rem;
  }
  &__menu {
    margin-top: 1rem;
  }
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
  }
  &__item {
    margin: 0rem 1rem;
    z-index: 3;
    &:hover {
      display: block;
    }
  }
  &__link {
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 0.75rem 1rem;
    margin: 0.5rem;
    font-size: 1rem;
    color: $gray-600;
    &:hover {
      color: $mainColor;
      background-image: url("../assets/views/menuBack.png");
      background-position: bottom center;
      background-repeat: no-repeat;
      display: block;
    }
  }
}

.selected {
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 0.75rem 1rem;
  margin: 0.5rem;
  font-size: 1rem;
  color: $mainColor;
  background-image: url("../assets/views/menuBack.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  cursor: default;
}

.submenu {
  list-style: none;
  font-size: 1rem;
  margin-top: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &__item {
    overflow: auto;
    top: -0.2rem;
  }
  &__link {
    text-decoration: none;
    color: $secondaryColor;
    display: block;
    padding: 0.7rem;
    white-space: nowrap;
    background-color: $gray-200;
    transition: all 0.5s ease-out;
    &:hover {
      background-image: $gray-200 url("../assets/views/submenuBack.png");
      background-position: left center;
      background-repeat: no-repeat;
      color: $altColor;
      box-shadow: $gray-500;
      display: block;
    }
  }
}
