.mainBox {
  padding-bottom: 1rem;
  &__bottom {
    padding-bottom: 0;
  }
  &__wrapper {
    justify-content: center;
    gap: 2rem;
  }
  &__text {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  &__list {
    font-size: 1rem;
    line-height: 1.3rem;
    color:#007890;
  }
  &__item::marker {
      color:#007890;
      font-size: 1rem;
      font-weight: 800;
      content: "» ";
  }
  &__quote {
    padding: 2rem 1rem 1rem 1rem;
    font-style: italic;
    font-size: 2rem;
    color: #959595;
    text-align: center;
  }
  &__ytVideo {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__contact {
    grid-area: container;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  &__image {
    width: 100%;
  }
}


