/*---------------------------*/
/*-------MEDIA QUERIES-------*/
/*---------------------------*/

/*-------MOBILE-------*/
@media screen and (min-width: 320px) and (max-width: 768px) {
  .mainBox__title-XL {
    font-size: 2rem;
    letter-spacing: -0.125rem;
    margin-top: 3rem;
  }
  .mainBox__title-XL--main {
    margin-top: 5rem;
  }
  .mainBox__title-L {
    font-size: 1rem;
    letter-spacing: 0.15rem;
    margin-bottom: 0.5rem;
  }
  .mainBox__title-M {
    font-size: 1.1rem;
    padding-left: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background: none;
    text-align: left;
  }
  .mainBox__title-S {
    font-size: 1rem;
    color: #6d6e71;
    padding-left: 0.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  .progressBar__title {
    font-size: .8rem;
    margin-bottom: 0.15rem;
  }
  .progressBar__subTitle {
    font-size: .75rem;
    letter-spacing: 0.1rem;
  }
  .card__title-L {
    font-size: 0.8rem;
  }

  .header {
    padding: 0rem;
    top: 0px;
    position: inherit;
  }

  .header__logo {
    max-width: 10rem;
  }
  .header__menu {
    margin-top: 3rem;
  }
  .header__link {
    padding: 1rem;
    margin: 0rem;
    background: none;
  }

  .selected {
    color: #007890;
  }

  .submenu {
    list-style: none;
    margin-top: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .submenu__link {
    text-decoration: none;
    color: #db3816;
    display: block;
    padding: 0.7rem;
    white-space: nowrap;
    background-color: #ececec;
    transition: all 0.5s ease-out;
  }

  .header__select {
    padding: 0rem;
  }

  .about {
    grid-area: about;
    grid-column: 1;
    grid-row: 1;
  }

  .personal {
    grid-area: personal;
    grid-column: 1;
    grid-row: 3;
  }

  .technical {
    grid-area: technical;
    grid-column: 1;
    grid-row: 4;
  }

  .mainBox__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
  }
  .card__wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
  }

  .card__description {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin: 0.5rem 1rem 1rem 1rem;
  }
  .projects__description {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin: 0.5rem 1rem 1rem 1rem;
  }
  .btn {
    height: 2.5rem;
    padding: 0 15px;
    border-radius: 4rem;
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    right: 1.5rem;
    bottom: -1rem;
  }
  .btn__label {
    font-size: 0.8rem;
  }
  .fas {
    font-size: 0.8rem;
  }

  .footer {
    background-image: url("../assets/views/footerBG.png");
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .footer__data {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-content: center;
  }
  .footer__text {
    font-size: 0.8rem;
    text-align: center;
    color: #d4d4d4;
    margin: 0px;
  }

  .footer__list {
    list-style: none;
    display: inline-flex;
    padding: 2rem 1rem;
    margin: 1rem 0rem;
    align-content: center;
    justify-content: center;
  }
  .footer__select {
    background: transparent;
    border: none;
    padding: 0.25rem;
    font-family: "Lato", sans-serif;
    font-size: 0.8rem;
    color: #979797;
    cursor: pointer;
  }
  .footer__network {
    display: flex;
    flex-direction: row;
  }

  .footer__netIcon {
    width: 25px;
    color: #ccc;
    margin: 0.5rem;
    opacity: 0.4;
    font-size: 1.25rem;
  }

  .form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 3rem;
    padding: 2rem 0rem;
    width: 100%;
  }
  .form__fieldset > div {
    padding: 0.5rem;
    font-size:  0.9rem;
  }

  .form__legend {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .form__input {
    font: normal 400 0.9rem sans-serif;
  }

  .form__textarea {
    font: normal 400 0.9rem sans-serif;
    width: 100%;
  }
  .btn--form {
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 0.9rem;
    right: 1rem;
    bottom: -1rem;
  }
  .parallax {
    height: 40vh;
    background-position: center bottom;
   }
  .parallax2 {
    background-position: right top;
  }
  .networks {
    display: none;
  }
  .networks__icon {
    width: 80px;
    color: #ccc;
    margin: 0.5rem;
    opacity: 0.4;
    font-size: 3rem;
  }
  .mainBox__image {
    display: none;
  }
  .mainBox__text {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .mainBox__list {
    list-style: square;
    font-size: 0.8rem;
    line-height: 1rem;
    color:#007890;
  }
}
