@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap');
$mainColor: #007890;
$secondaryColor: #db3816;
$altColor: #dba016;
$thirdColor: #8f1e07;
$fourthColor: #8f6607;
$lightColor: #f1f1f1;
$image-size: 200px;
$gap-size: 1rem;
$breakpoints: ( "small": 320px,
"medium": 768px,
"large": 1024px,
);
$white: #fff;
$gray-100: #f9fafb;
$gray-200: #f4f6f8;
$gray-300: #dfe3e8;
$gray-400: #c4cdd5;
$gray-500: #919eab;
$gray-600: #637381;
$gray-700: #454f5b;
$gray-800: #212b36;
$gray-900: #161c24;
$black: #000;